body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: rgb(0, 71, 214);
    flex-direction: column;
}

#louder{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 12px solid rgb(225, 225, 225);
    border-radius:50%;
    border-right-color: rgb(0, 172, 120);
    animation: spin 1s ease infinite;
    z-index: 1;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }

}
#alerta{
    
    top: 10%;
    left: 19%;
    position: absolute;
    z-index: 1;
    width: 60vw;
    min-height: 15%;
    border: 4px solid rgb(116, 116, 116);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:0 0 10px rgb(255, 255, 255);
    padding: 1%;
    transform: translateY(-1100px);
    transition: transform 0.5s ease;
    user-select: none;
}  
    
    #A1{
        display: block;
        width: 100%;
        height: 70%;
    }

        #titleAlerta{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 2rem;
            color: black;
        }

        #parrafoAlerta{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.3rem;
            color: black;
        }
        
    /*}*/

    #A2{
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: end;
    }
    #Alertabtn{
        color: red;
        font-size: 1.2rem;
        border: none;
        background-color: transparent;
        margin: 5px 3px 5px 0;
        
    }
    #Alertabtn:hover{
        color: rgb(104, 25, 25);
    }

#Contenedor{
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#Contenido{
    width: 400px;
    padding: 1% 2%;
    pointer-events:auto;
    
    user-select: none;
}


#Info{
    padding: 10px 30px;
    margin-bottom: 8%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#img{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
    #title{
        text-align: center;
        margin-bottom: 20px;
        font-size: 45px;
    }
    
    #User_contra{
        border-radius: 10px;
        padding: 20px 20px;
        font-size: 20px;
        border-color:  #0088ff;
        border-width: 2px;
        border-style: solid;
    }
        .Cajatex{
            background-color: rgba(0, 0, 0, 0.342);
            border-radius: 10px;
            text-align: center;
            width: 95%;
            font-size: 20px;
            border-color:  #0088ff;
            border-width: 3px;
            padding: 5px;
            color: white;
            
        } 
        
        
           
          

        /*}*/ 

    /*}*/



/*}*/

#Barra{
    display: flex;
    justify-content: center;
    align-items:center;  
}

    .Botones{
        background-color: rgb(0, 136, 255);
        height: 40px;
        width: 250px;
        margin-inline: 20px; 
        font-size: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        border-radius: 20px ;
        cursor: pointer;
        border-style:none;
        transition: box-shadow 1s ease ;
        transition: transform 2s ease;
    }
        .Botones:hover{
            box-shadow: 0px 0px 30px rgba(0, 136, 255, 0.322);
            background-color: rgb(0, 102, 255);
            transform: scale(1.1,1.1);
        }

        .Botones:active{
            background-color: rgb(20, 62, 126);
        }



        #contenedor22{
            height: 30vh;
            width: 100vw;
            margin: 0;
            padding: 0;
            bottom: 0;
            background-image: url(/src/img/FondoAgua.png);
            background-repeat: round;
            animation: rio 15s infinite;
            z-index: -1;
        }
        
        /* @keyframes rio {
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.2,2);
            }
            75%{
                transform: scale(1.4,1.5);
            }
            100%{
                transform: scale(1);
            }
        } */

        @keyframes rio {
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1,2);
            }
           
            100%{
                transform: scale(1);
            }
        }